nav{
    display: flex;
    width:100vw;
    box-shadow: 8px 8px 10px 10px rgb(130, 204, 57);
    
}
.nav-logo{
    width: 40%;
    padding: left 40px; 
    
}
.nav-logo p{
    font-size: 1.3rem;
    font: weight 600px; 
    color:blue;
}
.nav_list{
    width: 60%;
}
.nav_list ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;

}
.nav_list ul li{
    font-weight: 600;
}
.nav_list ul li:hover{
    transition: all;
    color: blue;
   text-shadow: 3px 2px 10px rgb(91, 219, 91);
   text-decoration:underline;
  background-color: aquamarine;
   
}
.nav-logo p span{
    color: blue;
}
